* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.grid-container {
  font-size: 1.5rem;
  font-family: sans-serif;
  color: white;
  height: 100vh;

  display: grid;
  grid-template:
    "ib hd hd " 100px
    "ib lc mc " 1fr /
    70px 300px 1fr;
}

.header {
  grid-area: hd;
  background-color: #d84727;
}

.left-container {
  grid-area: lc;
  background-color: #5eb1bf;

  display: grid;
  grid-template-rows: 2fr 1fr 2fr;
}

.main-container {
  grid-area: mc;
  background-color: #ef7b45;

  display: grid;
  grid-template-rows: 1fr 2fr;
}

.icon-bar {
  grid-area: ib;
  background-color: #042a2b;

  display: grid;
  grid-template-rows: 2fr 1fr 2fr;
}
